node_modules
.nuxt
.nuxt/
yarn.lock
yarn-error.log
# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Optional eslint cache
.eslintcache
# parcel-bundler cache (https://parceljs.org/)
.cache
# Nuxt generate
dist
# vuepress build output
.vuepress/dist

# Serverless directories
.serverless

# IDE / Editor
.idea

# Service worker
sw.*

# macOS
.DS_Store

# Vim swap files
*.swp
